body {
    font-family: Arial, sans-serif;
    background: linear-gradient( to left, #ffcccc, #66ccff);
}

/* #buton_lobbie {
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
} */

#buton_lobbie:hover {
    background-color: #0056b3;
    cursor: pointer;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: inline-block;
}

.logout-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c82333;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
